<a href="https://colab.research.google.com/github/SHAZAN01/Data_Analysis/blob/main/14_Pandas_100_exercise_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **pandas top most problems practice**

In [ ]:
# 1. How to import pandas and check the version?
import numpy as np  # optional
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.3.5
{
  "system": {
    "commit": "66e3805b8cabe977f40c05259cc3fcf7ead5687d",
    "python": "3.8.10.final.0",
    "python-bits": 64,
    "OS": "Linux",
    "OS-release": "5.10.147+",
    "Version": "#1 SMP Sat Dec 10 16:00:40 UTC 2022",
    "machine": "x86_64",
    "processor": "x86_64",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": "en_US.UTF-8",
    "LOCALE": {
      "language-code": "en_US",
      "encoding": "UTF-8"
    }
  },
  "dependencies": {
    "pandas": "1.3.5",
    "numpy": "1.22.4",
    "pytz": "2022.7.1",
    "dateutil": "2.8.2",
    "pip": "22.0.4",
    "setuptools": "57.4.0",
    "Cython": "0.29.33",
    "pytest": "3.6.4",
    "hypothesis": null,
    "sphinx": "3.5.4",
    "blosc": null,
    "feather": "0.4.1",
    "xlsxwriter": null,
    "lxml.etree": "4.9.2",
    "html5lib": "1.0.1",
    "pymysql": null,
    "psycopg2": "2.9.5 (dt dec pq3 ext lo64)",
    "jinja2": "2.11.3",
    "IPython": "7.9.0",
    "pandas_datareader": "0.9.0",
    "bs4": "4.6.3",
    "bottleneck": null,
    "fsspec": "2023.1.0",
    "fastparquet": null,
    "gcsfs": null,
    "matplotlib": "3.5.3",
    "numexpr": "2.8.4",
    "odfpy": null,
    "openpyxl": "3.0.10",
    "pandas_gbq": "0.17.9",
    "pyarrow": "9.0.0",
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.7.3",
    "sqlalchemy": "1.4.46",
    "tables": "3.7.0",
    "tabulate": "0.8.10",
    "xarray": "2022.12.0",
    "xlrd": "1.2.0",
    "xlwt": "1.3.0",
    "numba": "0.56.4"
  }
}None

In [ ]:
# 2. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [ ]:
# 3. How to convert the index of a series into a column of a dataframe?
# Convert the series ser into a dataframe with its index as another column on the dataframe.

# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [ ]:
# 4. How to combine many series to form a dataframe?
# Combine ser1 and ser2 to form a dataframe.

# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [ ]:
# 5. How to assign name to the series’ index?
# Give a name to the series ser calling it ‘alphabets’.

# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [ ]:
# 6. How to get the items of series A not present in series B?
# From ser1 remove items present in ser2.

# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [ ]:
# 7. How to get the items not common to both series A and series B?
# Get all items of ser1 and ser2 not common to both.


# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [ ]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
# Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

In [ ]:
# 9. How to get frequency counts of unique items of a series?
# Calculte the frequency counts of each unique value ser.


ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Solution
ser.value_counts()

e    6
h    6
d    6
f    5
a    2
g    2
c    2
b    1
dtype: int64

In [ ]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
# From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 4    4
2    3
1    3
3    2
dtype: int64

0     Other
1         2
2         2
3         4
4         4
5     Other
6         4
7     Other
8         2
9     Other
10    Other
11        4
dtype: object

In [ ]:
# 11. How to bin a numeric series to 10 groups of equal size?
# Bin the series ser into 10 equal deciles and replace the values with the bin name.

# Input
ser = pd.Series(np.random.random(20))
print(ser.head())

# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1],
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.172053
1    0.766247
2    0.439175
3    0.003393
4    0.582851
dtype: float64

0    3rd
1    9th
2    5th
3    1st
4    6th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [ ]:
# 12. How to convert a numpy array to a dataframe of given shape? (L1)
# Reshape the series ser into a dataframe with 7 rows and 5 columns

# Input
ser = pd.Series(np.random.randint(1, 10, 35))

# Solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  3  1  9  5  2
1  7  9  1  5  4
2  9  2  1  6  1
3  1  4  8  8  4
4  1  2  7  6  5
5  5  8  9  8  8
6  4  3  8  9  8

In [ ]:
# 13. How to find the positions of numbers that are multiples of 3 from a series?
# Find the positions of numbers that are multiples of 3 from ser.

# # Input
# ser = pd.Series(np.random.randint(1, 10, 7))
# # ser

# # Solution
# print(ser)
# np.argwhere(ser % 3==0)

In [ ]:
# 14. How to extract items at given positions from a series
# From ser, extract the items at positions in list pos.


# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [ ]:
# 15. How to stack two series vertically and horizontally ?
# Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [ ]:
# 16. How to get the positions of items of series A in another series B?
# Get the positions of items of ser2 in ser1 as a list.

# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [ ]:
# 17. How to compute the mean squared error on a truth and predicted series?
# Compute the mean squared error of truth and pred series.


# Input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

# Solution
np.mean((truth-pred)**2)

0.3446785910140731

In [ ]:
# 18. How to convert the first character of each element in a series to uppercase?
# Change the first character of each word to upper case in each word of ser.

# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [ ]:
# 19. How to calculate the number of characters in each word in a series?

# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [ ]:
# 20. How to compute difference of differences between consequtive numbers of a series?
# Difference of differences between the consequtive numbers of ser.

# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [ ]:
# 21. How to convert a series of date-strings to a timeseries?

# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [ ]:
# 22. How to get the day of month, week number, day of year and day of week from a series of date strings?
# Get the day of month, week number, day of year and day of week from ser.

# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
# print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]

<ipython-input-26-0b16c00d1c9f>:15: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print("Week number: ", ser_ts.dt.weekofyear.tolist())

In [ ]:
# 23. How to convert year-month string to dates corresponding to the 4th day of the month?
# Change ser to dates that start with 4th of the respective months.
import pandas as pd
# Input
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

# Solution 2
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [ ]:
# 24. How to filter words that contain atleast 2 vowels from a series?
# From ser, extract words that contain atleast 2 vowels.

# Input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [ ]:
# 25. How to filter valid emails from a series?
# Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [ ]:
# 26. How to get the mean of a series grouped by another series?
# Compute the mean of weights of each fruit.
# Input
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

# Solution
weights.groupby(fruit).mean()

apple     7.000000
banana    5.333333
carrot    4.500000
dtype: float64

In [ ]:
# 27. How to compute the euclidean distance between two series?
# Compute the euclidean distance between series (points) p and q, without using a packaged formula.
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Solution
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

18.16590212458495

In [ ]:
# 28. How to find all the local maxima (or peaks) in a numeric series?
# Input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7])

In [ ]:
# 29. How to replace missing spaces in a string with the least frequent character?
# Replace the spaces in my_str with the least frequent character.
# Input
my_str = 'dbc deb abed gade'

# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'dbcgdebgabedggade'

In [ ]:
# 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    8
2000-01-08    1
2000-01-15    1
2000-01-22    5
2000-01-29    3
2000-02-05    5
2000-02-12    9
2000-02-19    3
2000-02-26    4
2000-03-04    9
Freq: W-SAT, dtype: int64

In [ ]:
# 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

In [ ]:
# 32. How to compute the autocorrelations of a numeric series?
# Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.
# Input
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.43, 0.15, 0.18, 0.03, 0.33, 0.49, 0.11, 0.24, -0.41, -0.65]
Lag having highest correlation:  10

In [ ]:
# 33. How to import only every nth row from a csv file to create a dataframe?
# Import every 50th row of BostonHousing dataset as a dataframe.
# Solution 1: Use chunks and for-loop
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])


# Solution 2: Use chunks and list comprehension
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

# Solution 3: Use csv reader
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

FileNotFoundError: ignored

In [ ]:
# 34. How to change column values when importing csv to a dataframe?
# Solution 1: Using converter parameter
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})


# Solution 2: Using csv reader
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i > 0:
            row[13] = 'High' if float(row[13]) > 25 else 'Low'
        out.append(row)

df = pd.DataFrame(out[1:], columns=out[0])
print(df.head())

FileNotFoundError: ignored

In [ ]:
# 35. How to create a dataframe with rows as strides from a given series?
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]])

In [ ]:
# 36. How to import only specified columns from a csv file?
# Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

In [ ]:
# 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.
# Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)

# how many columns under each dtype
# print(df.get_dtype_counts())
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array
df_arr = df.values

# list
df_list = df.values.tolist()

(93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object
float64    18
object      9
dtype: int64

In [ ]:
# 38. How to extract the row and column number of a particular cell with given criterion?
# Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']
# df.get_value(row[0], 'Price')
# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers.
# Whereas `at` and `loc` accepts index and column names.

61.9

In [ ]:
# 39. How to rename a specific columns in a dataframe?
# Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [ ]:
# 40. How to check if a dataframe has any missing values?
# Check if df has any missing values.
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

In [ ]:
# 41. How to count the number of missing values in each column?
# Count the number of missing values in each column of df. Which column has the maximum number of missing values?
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

In [ ]:
# 42. How to replace missing values of multiple numeric columns with the mean?
# Replace missing values in Min.Price and Max.Price columns with their respective mean.
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

In [ ]:
# 43. How to use apply function on existing columns with global variables as additional arguments?
# In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

In [ ]:
# 44. How to select a specific column from a dataframe as a dataframe instead of a series?
# Get the first column (a) in df as a dataframe (rather than as a Series).
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

pandas.core.series.Series

In [ ]:
# 45. How to change the order of columns of a dataframe?
# Actually 3 questions.

# In df, interchange columns 'a' and 'c'.
# Create a generic function to interchange two columns, without hardcoding column names.

# Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

In [ ]:
# 46. How to set the number of rows and columns displayed in the output?
# Change the pamdas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.

# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
# df

# Show all available options
# pd.describe_option()

In [ ]:
# 47. How to format or suppress scientific notations in a pandas dataframe?
# Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.
# Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

   random
0  0.0296
1  0.0624
2  0.0000
3  0.6120

In [ ]:
# 48. How to format all the values in a dataframe as percentages?
# Format the values in column 'random' of df as percentages.
# Input
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

In [ ]:
# 49. How to filter every nth row in a dataframe?
# From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [ ]:
# 50. How to create a primary key index by combining relevant columns?
# In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

In [ ]:
# 51. How to get the row number of the nth largest value in a column?
# Find the row position of the 5th largest value of column 'a' in df.
# Input
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution
n = 5
df['a'].argsort()[::-1][n]

7

In [ ]:
# 52. How to find the position of the nth largest value greater than a given value?
# In ser, find the position of the 2nd largest value greater than the mean.

# Input
ser = pd.Series(np.random.randint(1, 100, 15))

# Solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
# np.argwhere(ser > ser.mean())[1]

ser:  [85, 48, 81, 8, 60, 55, 39, 96, 35, 39, 88, 53, 57, 53, 53] mean:  57

In [ ]:
# 53. How to get the last n rows of a dataframe with row sum > 100?
# Get the last two rows of df whose row sum is greater than 100.
# Input
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

# Solution
# print row sums
rowsums = df.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
last_two_rows = df.iloc[np.where(rowsums > 100)[0][-2:], :]

In [ ]:
# 54. How to find and cap outliers from a series or dataframe column?
# Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.
# Input
ser = pd.Series(np.logspace(-2, 2, 30))

# Solution
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser, .05, .95)

0.05 %ile:  0.016049294076965887 | 0.95 %ile:  63.87667222018393

In [ ]:
# 55. How to reshape a dataframe to the largest possible square after removing the negative values?
# Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.
# Input
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
print(df)

# Solution
# Step 1: remove negative values from arr
arr = df[df > 0].values.flatten()
arr_qualified = arr[~np.isnan(arr)]

# Step 2: find side-length of largest possible square
n = int(np.floor(arr_qualified.shape[0]**.5))

# Step 3: Take top n^2 items without changing positions
top_indexes = np.argsort(arr_qualified)[::-1]
output = np.take(arr_qualified, sorted(top_indexes[:n**2])).reshape(n, -1)
print(output)

    0   1   2   3   4   5   6   7   8   9
0  42  39  38  32  34   3  47  17   4  32
1 -15  35  -8  17  -5  43  16  18   7  18
2   8  28   1  46 -10  22  41  44 -13  45
3  25  16  13  30  17 -13   8 -17  -9  20
4 -13  -7  18  31   1  -6  -4   8 -18  16
5  33 -17  22  26 -11   6   7  -9  36  47
6  41 -18 -10  -4   9  24   2  26   9  35
7  40   8  46  14  31 -14  29 -14   9  38
8  29  26  13  12  37  40  40 -19   0  25
9  23  27  18  16  25  47  43  10  11  26
[[42. 39. 38. 32. 34. 47. 17. 32.]
 [35. 17. 43. 16. 18. 18. 28. 46.]
 [22. 41. 44. 45. 25. 16. 13. 30.]
 [17. 20. 18. 31. 16. 33. 22. 26.]
 [36. 47. 41. 24. 26.  9. 35. 40.]
 [46. 14. 31. 29.  9. 38. 29. 26.]
 [13. 12. 37. 40. 40. 25. 23. 27.]
 [18. 16. 25. 47. 43. 10. 11. 26.]]

In [ ]:
# 56. How to swap two rows of a dataframe?
# Swap rows 1 and 2 in df.
# Input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Solution
def swap_rows(df, i1, i2):
    a, b = df.iloc[i1, :].copy(), df.iloc[i2, :].copy()
    df.iloc[i1, :], df.iloc[i2, :] = b, a
    return df

print(swap_rows(df, 1, 2))

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

In [ ]:
# 57. How to reverse the rows of a dataframe?
# Reverse all the rows of dataframe df.
# Input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Solution 1
df.iloc[::-1, :]

# Solution 2
print(df.loc[df.index[::-1], :])

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [ ]:
# 58. How to create one-hot encodings of a categorical variable (dummy variables)?
# Get one-hot encodings for column 'a' in the dataframe df and append it as columns.
# Input
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

# Solution
df_onehot = pd.concat([pd.get_dummies(df['a']), df[list('bcde')]], axis=1)
print(df_onehot)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

In [ ]:
# 59. Which column contains the highest number of row-wise maximum values?
# Obtain the column name with the highest number of row-wise maximum’s in df.
# Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

# Solution
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

Column with highest row maxes:  0

In [ ]:
# 60. How to create a new column that contains the row number of nearest column by euclidean distance?
# Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

# Solution
import numpy as np

# init outputs
nearest_rows = []
nearest_distance = []

# iterate rows.
for i, row in df.iterrows():
    curr = row
    rest = df.drop(i)
    e_dists = {}  # init dict to store euclidean dists for current row.
    # iterate rest of rows for current row
    for j, contestant in rest.iterrows():
        # compute euclidean dist and update e_dists
        e_dists.update({j: round(np.linalg.norm(curr.values - contestant.values))})
    # update nearest row to current row and the distance value
    nearest_rows.append(max(e_dists, key=e_dists.get))
    nearest_distance.append(max(e_dists.values()))

df['nearest_row'] = nearest_rows
df['dist'] = nearest_distance

In [ ]:
# 61. How to know the maximum possible correlation value of each column against other columns?
# Compute maximum possible absolute correlation value of each column against other columns in df.
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
df

# Solution
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

Maximum Correlation possible for each column:  [0.55 0.4  0.52 0.62 0.8  0.45 0.47 0.65 0.62 0.8 ]

In [ ]:
# 62. How to create a column containing the minimum by maximum of each row?
# Compute the minimum-by-maximum for every row of df.
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution 1
min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)

# Solution 2
min_by_max = np.min(df, axis=1)/np.max(df, axis=1)

In [ ]:
# 63. How to create a column that contains the penultimate value in each row?
# Create a new column 'penultimate' which has the second largest value of each row of df.
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['penultimate'] = out
print(df)

    0   1   2   3   4  ...   6   7   8   9  penultimate
0  41  40  51   3  89  ...  20  11   2  77           77
1  25  55  68  14  13  ...  50  66  51  47           66
2  99  37  33   7  59  ...  97   5  86  38           97
3   3  65  78  70  91  ...  60  11   4  92           91
4   5  63  98   9  42  ...  88  90  40  21           90
5  34  32  29   4  38  ...  81  39  91   6           81
6  57  42  71  10  39  ...  65  17  75  75           75
7  13   4  75   2  70  ...  79  84  38  12           79

[8 rows x 11 columns]

In [ ]:
# 64. How to normalize all columns in a dataframe?
# Normalize all columns of df by subtracting the column mean and divide by standard deviation.
# Range all columns of df such that the minimum value in each column is 0 and max is 1.
# Don’t use external packages like sklearn.

# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution Q1
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

# Solution Q2
out2 = df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
print('Solution Q2\n', out2)

Solution Q1
       0     1     2     3     4     5     6     7     8     9
0 -1.11 -0.52 -0.61  1.79  1.49 -1.20 -0.61  1.14  0.86 -0.07
1  1.26  0.74 -0.11 -0.61 -0.20 -0.25  0.88  0.76 -0.19  1.60
2 -0.35 -0.44 -0.17  0.71 -0.93 -1.02 -0.78  0.91  0.99  1.46
3  0.73  0.86 -0.27 -0.49  1.46  0.38 -0.72 -0.80 -1.35 -0.56
4 -0.51  1.41  1.69 -0.49 -0.77  1.60  1.15  0.91  0.63 -0.63
5  1.46 -0.41 -0.71 -0.94 -0.47 -0.57 -0.70 -1.09 -0.26 -1.09
6 -0.57 -1.75 -1.15 -0.85 -0.90 -0.12 -0.75 -1.00  0.83 -0.07
7 -0.91  0.11  1.35  0.89  0.33  1.19  1.53 -0.83 -1.51 -0.63
Solution Q2
       0     1     2     3     4     5     6     7     8     9
0  1.00  0.61  0.81  0.00  0.00  1.00  0.93  0.00  0.05  0.62
1  0.08  0.21  0.63  0.88  0.70  0.66  0.28  0.17  0.47  0.00
2  0.70  0.59  0.65  0.40  1.00  0.94  1.00  0.10  0.00  0.05
3  0.29  0.18  0.69  0.84  0.01  0.44  0.98  0.87  0.93  0.80
4  0.77  0.00  0.00  0.84  0.93  0.00  0.16  0.10  0.14  0.83
5  0.00  0.57  0.85  1.00  0.81  0.77  0.96  1.00  0.50  1.00
6  0.79  1.00  1.00  0.97  0.99  0.61  0.99  0.96  0.07  0.62
7  0.92  0.41  0.12  0.33  0.48  0.15  0.00  0.88  1.00  0.83

In [ ]:
# 65. How to compute the correlation of each row with the suceeding row?
# Compute the correlation of each row of df with its succeeding row.
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

[0.04, 0.21, 0.18, -0.52, -0.44, 0.02, 0.32]

In [ ]:
# 66. How to replace both the diagonals of dataframe with 0?
# Replace both values in both diagonals of df with 0.
# Input
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

# Solution
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0

In [ ]:
# 67. How to get the particular group of a groupby dataframe by key?
# This is a question related to understanding of grouped dataframe. From df_grouped, get the group belonging to 'apple' as a dataframe.
# Input
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

# Solution 1
df_grouped.get_group('apple')

# Solution 2
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

    col1      col2  col3
0  apple  0.504733     1
3  apple  0.763031     0
6  apple  0.618188    14

In [ ]:
# 68. How to get the n’th largest value of a column when grouped by another column?
# In df, find the second largest value of 'taste' for 'banana'
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df)

# Solution
df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

    fruit     taste  price
0   apple  0.906713     12
1  banana  0.106295      8
2  orange  0.865171      3
3   apple  0.097007     11
4  banana  0.597943     13
5  orange  0.429962      1
6   apple  0.033684      3
7  banana  0.202861     12
8  orange  0.372081     12

0.20286104994014542

In [ ]:
# 69. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?
# In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

# Solution
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  7.666667
1  banana  6.666667
2  orange  5.000000

In [ ]:
# 70. How to join two dataframes by 2 columns so they have only the common rows?
# Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.
# Input
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

# Solution
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham','kilo'], suffixes=['_left', '_right'])

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           1   apple  high           12
1   apple   high           0   apple  high           12
2   apple   high          11   apple  high           12
3  orange    low           5  orange   low            6
4  orange    low          13  orange   low            6
5  orange    low          12  orange   low            6

In [ ]:
# 71. How to remove rows from a dataframe that are present in another dataframe?
# From df1, remove the rows that are present in df2. All three columns must be the same.
# Input
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})


# Solution
print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
2  banana     low      2
3   apple    high      3
4  orange  medium      4
5  banana     low      5
6   apple    high      6
7  orange  medium      7
8  banana     low      8

In [ ]:
# 72. How to get the positions where values of two columns match?
# Input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

# Solution
np.where(df.fruit1 == df.fruit2)

(array([8]),)

In [ ]:
# 73. How to create lags and leads of a column in a dataframe?
# Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).
# Input
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

# Solution
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  48  25  99  14     NaN     47.0
1  76  47  69  77    48.0      4.0
2  69   4  99  44    76.0     93.0
3   2  93   1  68    69.0     14.0
4  76  14  76  43     2.0      NaN

In [ ]:
# 74. How to get the frequency of unique values in the entire dataframe?
# Get the frequency of unique values in the entire dataframe df.
# Input
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

# Solution
pd.value_counts(df.values.ravel())

5    3
3    3
8    3
2    3
1    2
4    2
7    2
6    1
9    1
dtype: int64

In [ ]:
# 75. How to split a text column into two separate columns?
# Split the string column in df to form a dataframe with 3 columns as shown.
# Input
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

# Solution
df_out = df.row.str.split(',|\t', expand=True)

# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

# **Pandas 24 useful exercises**

In [ ]:
# Allow several prints in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [ ]:
# 1. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary
# Input
import numpy as np
a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}
series1 = pd.Series(a_list)
print(series1)
series2 = pd.Series(numpy_array)
print(series2)
series3 = pd.Series(dictionary)
print(series3)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
A    0
B    1
C    2
D    3
E    5
dtype: int64

In [ ]:
# 2. How to combine many series to form a dataframe?
# Combine ser1 and ser2 to form a dataframe.
# input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
# using pandas DataFrame
ser_df = pd.DataFrame(ser1, ser2).reset_index()
ser_df.head()
# using pandas DataFrame with a dictionary, gives a specific name to the column
ser_df = pd.DataFrame({"col1":ser1, "col2":ser2})
ser_df.head(5)
# using pandas concat
ser_df = pd.concat([ser1, ser2], axis = 1)
ser_df.head()

   index  0
0      0  a
1      1  b
2      2  c
3      3  e
4      4  d

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [ ]:
# 3. How to get the items of series A not present in series B?
# Get all items of ser1 and ser2 not common to both.
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [ ]:
# 4. How to get the items not common to both series A and series B?
# Get all items of ser1 and ser2 not common to both.
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
# using pandas
a_not_b = ser1[~ser1.isin(ser2)]
b_not_a = ser2[~ser2.isin(ser1)]

a_not_b.append(b_not_a, ignore_index = True)

# using numpy union and intersection
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [ ]:
# 5. How to get useful infos
# Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
# using pandas
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

In [ ]:
# 6. How to get frequency counts of unique items of a series?
# Calculate the frequency counts of each unique value ser.
# input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

c    10
a     5
b     4
e     4
f     3
g     2
h     1
d     1
dtype: int64

In [ ]:
# 7. How to convert a numpy array to a dataframe of given shape? (L1)
# Reshape the series ser into a dataframe with 7 rows and 5 columns
# input
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     9
1     7
2     9
3     6
4     4
     ..
30    3
31    6
32    3
33    8
34    2
Length: 35, dtype: int64

In [ ]:
# using numpy
pd.DataFrame(np.array(ser).reshape(7, 5))

# using only pandas
pd.DataFrame(ser.values.reshape(7, 5))

   0  1  2  3  4
0  9  7  9  6  4
1  8  6  5  7  4
2  7  1  5  2  7
3  7  9  1  1  7
4  9  4  5  2  6
5  8  4  6  3  3
6  3  6  3  8  2

   0  1  2  3  4
0  9  7  9  6  4
1  8  6  5  7  4
2  7  1  5  2  7
3  7  9  1  1  7
4  9  4  5  2  6
5  8  4  6  3  3
6  3  6  3  8  2

In [ ]:
# 8. How to find the positions of numbers that are multiples of 3 from a series?
# Find the positions of numbers that are multiples of 3 from ser.
# input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

RandomState(MT19937) at 0x7F71D8B66D40

0    4
1    3
2    3
3    1
4    2
5    2
6    3
7    4
8    1
9    1
dtype: int64

In [ ]:
# using the where clause
ser.where(lambda x: x%3 == 0).dropna()

# using numpy and reshape to get a pandas series
#pd.Series(np.argwhere(ser%3 == 0).reshape(4))
# np.argwhere(ser%3 == 0)

1    3.0
2    3.0
6    3.0
dtype: float64

In [ ]:
# 9. How to extract items at given positions from a series
# From ser, extract the items at positions in list pos.
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# using loc
ser.loc[pos]

# using series take
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

0     a
4     e
8     i
14    o
20    u
dtype: object

In [ ]:
# 10. How to stack two series vertically and horizontally ?
# Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
# input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
# vertical
ser1.append(ser2)
# or using pandas concat and axis = 0
pd.concat([ser1, ser2], axis = 0)

# horizontal
pd.concat([ser1, ser2], axis = 1)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [ ]:
# 11. How to get the positions of items of series A in another series B?
# Get the positions of items of ser2 in ser1 as a list.
# input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
# get's the index, but it's sorts the index
list(ser1[ser1.isin(ser2)].index)

# using numpy where
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# using pandas Index and get location
[pd.Index(ser1).get_loc(i) for i in ser2]

[0, 4, 5, 8]

[5, 4, 0, 8]

[5, 4, 0, 8]

In [ ]:
# 12. How to compute difference of differences between consequtive numbers of a series?
# Difference of differences between the consequtive numbers of ser.
# input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output
# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
# using pandas diff()
ser.diff(periods = 1).tolist()
ser.diff(periods = 1).diff(periods = 1).tolist()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [ ]:
# 13. How to convert a series of date-strings to a timeseries?
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
# using pands to_datetime
pd.to_datetime(ser)

# using dateutil parse
from dateutil.parser import parse
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [ ]:
# 14. How to filter words that contain atleast 2 vowels from a series?
# From ser, extract words that contain atleast 2 vowels.
#  input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
# using nested loops
vowels = list("aeiou")
list_ = []
for w in ser:
    c = 0
    for l in list(w.lower()):
        if l in vowels:
            c += 1
    if c >= 2:
        print(w)
        list_.append(w)

ser[ser.isin(list_)]

# another solution using counter

from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

Apple
Orange
Money

0     Apple
1    Orange
4     Money
dtype: object

0     Apple
1    Orange
4     Money
dtype: object

In [ ]:
# 15. How to replace missing spaces in a string with the least frequent character?
# Replace the spaces in my_str with the least frequent character.
# input
my_str = 'dbc deb abed ggade'
# using Counter
from collections import Counter
my_str_ = my_str
Counter_ = Counter(list(my_str_.replace(" ", "")))
Counter_
minimum = min(Counter_, key = Counter_.get)

print(my_str.replace(" ", minimum))

# using pandas
ser = pd.Series(list(my_str.replace(" ", "")))
ser.value_counts()
minimum = list(ser.value_counts().index)[-1]
minimum
print(my_str.replace(" ", minimum))

Counter({'d': 4, 'b': 3, 'c': 1, 'e': 3, 'a': 2, 'g': 2})

dbccdebcabedcggade

d    4
b    3
e    3
a    2
g    2
c    1
dtype: int64

'c'

dbccdebcabedcggade

In [ ]:
# 16. How to change column values when importing csv to a dataframe?
# Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.
# input
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
# first let's import using the previuos code and save as a normal csv

names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
with open("/kaggle/input/boston-house-prices/housing.csv") as f:
    data = f.read()
    nth_rows = []
    for i, rows in enumerate(data.split("\n")):
        nth_rows.append(rows)

data_ = [nth_rows[i].split() for i in range(len(nth_rows))]

df = pd.DataFrame(data_, columns=names)
df.head()
df.to_csv("housing_preprocessed.csv")
del df

In [ ]:
# now let's start importing as normal and use converters to convert the values
# skipfooter because we had the last rows with nan values and index_col to specify that the first column is the index
df = pd.read_csv("housing_preprocessed.csv",  index_col = 0, skipfooter=1,  converters = {"MEDV": lambda x: "HIGH" if float(x) >= 25 else "LOW"})
df

In [ ]:
# 17. How to import only specified columns from a csv file?
# input

# code that generates the housing_preprocessed.csv file
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
with open("/kaggle/input/boston-house-prices/housing.csv") as f:
    data = f.read()
    nth_rows = []
    for i, rows in enumerate(data.split("\n")):
        nth_rows.append(rows)

data_ = [nth_rows[i].split() for i in range(len(nth_rows))]

df = pd.DataFrame(data_, columns=names)
df.to_csv("housing_preprocessed.csv")
del df

# use the /kaggle/input/boston-house-prices/housing_preprocessed.csv file
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
file = "housing_preprocessed.csv"
# using index
df = pd.read_csv(file, usecols = [1, 2, 4], skipfooter=1)
df.head()
# using column names
df = pd.read_csv(file, usecols = ["CRIM", "ZN", "CHAS"])
df.head()

In [ ]:
# 18. How to check if a dataframe has any missing values?
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
df

In [ ]:
# Solution 1
print("Our df has a total of {} null values".format(df.isnull().sum().sum()))
print()

# Solution 2
df.isnull().values.any()
print()

# Solution 3
# A more detailed one
def report_nulls(df):
    '''
    Show a fast report of the DF.
    '''
    rows = df.shape[0]
    columns = df.shape[1]
    null_cols = 0
    list_of_nulls_cols = []
    for col in list(df.columns):
        null_values_rows = df[col].isnull().sum()
        null_rows_pcn = round(((null_values_rows)/rows)*100, 2)
        col_type = df[col].dtype
        if null_values_rows > 0:
            print("The column {} has {} null values. It is {}% of total rows.".format(col, null_values_rows, null_rows_pcn))
            print("The column {} is of type {}.\n".format(col, col_type))
            null_cols += 1
            list_of_nulls_cols.append(col)
    null_cols_pcn = round((null_cols/columns)*100, 2)
    print("The DataFrame has {} columns with null values. It is {}% of total columns.".format(null_cols, null_cols_pcn))
    return list_of_nulls_cols

report_nulls(df)

Our df has a total of 0 null values

False

The DataFrame has 0 columns with null values. It is 0.0% of total columns.

[]

In [ ]:
# 19. How to replace missing values of multiple numeric columns with the mean?
# Replace missing values in Luggage.room columns with their respective mean.
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
# Solution 1
beg_null = df.isnull().sum().sum()
print(beg_null)
# notice that we have filtering the columns  as a list.
df[["Luggage.room"]] = df[["Luggage.room"]].apply(lambda x: x.fillna(x.mean()))
end_null = df.isnull().sum().sum()
print(end_null)

print("We have got rid of {} null values, filling them with the mean.".format(beg_null - end_null))

In [ ]:
# 20. How to change the order of columns of a dataframe?

# Actually 3 questions.

# In df, interchange columns 'a' and 'c'.

# Create a generic function to interchange two columns, without hardcoding column names.

# Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

# input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
# Solution to question 1
# we pass a list with the custom names BUT THIS DOESN'T change in place
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[["c", "b", "a", "d", "e"]]
df

# if we reasing that this will work
df = df[["c", "b", "a", "d", "e"]]
df

# Solution to question 2
def change_cols(df, col1, col2):
    df_columns = df.columns.to_list()
    index1 = df_columns.index(col1)
    index2 = df_columns.index(col2)
    # swaping values
    df_columns[index1], df_columns[index2] = col1, col2

    return df[df_columns]


df = change_cols(df, "b", "e")
df


# Solution to question 3
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
col_list = list(df.columns)
col_list_reversed = col_list[::-1]
col_list
col_list_reversed
# using the trick from solution 1
df = df[col_list_reversed]
df


print("Solution from the website")
print("-------------------------")
# Others solution from the website

# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

['a', 'b', 'c', 'd', 'e']

['e', 'd', 'c', 'b', 'a']

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

Solution from the website
-------------------------

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [ ]:
# 21. How to filter every nth row in a dataframe?
# From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
df

# First let's import only the columns we need
df = pd.read_csv("../input/cars93/Cars93.csv", usecols=["Manufacturer", "Model", "Type"])

# Solution 1
# Using normal python slicing
df[::20]

df = pd.read_csv("../input/cars93/Cars93.csv", usecols=["Manufacturer", "Model", "Type"])

# Solution 2
# Using iloc
df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

In [ ]:
# 22. How to get the last n rows of a dataframe with row sum > 100?
# Get the last two rows of df whose row sum is greater than 100.
# input
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df1 = df.copy(deep = True)
# Solution 1
df["sum"] = df.sum(axis = 1)
df

print("The index of the rows that are greater than 100 are {}".format((df[df["sum"] > 100].index).to_list()[-2:]))

# Solution 2 using numpy
rowsums = df1.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
last_two_rows = df1.iloc[np.where(rowsums > 100)[0][-2:], :]
last_two_rows

     0   1   2   3  sum
0   15  33  15  36   99
1   22  16  24  34   96
2   12  33  36  19  100
3   39  11  20  38  108
4   15  17  20  16   68
..  ..  ..  ..  ..  ...
10  29  24  27  14   94
11  19  21  37  34  111
12  27  15  32  39  113
13  29  16  29  13   87
14  33  11  15  10   69

[15 rows x 5 columns]

The index of the rows that are greater than 100 are [11, 12]

     0   1   2   3
11  19  21  37  34
12  27  15  32  39

In [ ]:
# 23. How to find and cap outliers from a series or dataframe column?
# Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.
# input
ser = pd.Series(np.logspace(-2, 2, 30))
ser1 = ser.copy(deep = True)
ser2 = ser.copy(deep = True)
# Solution 1
# get the quantiles values
quantiles = np.quantile(ser, [0.05, 0.95])
ser

# filter ser using numpy to know where the values are below or greater than 5% or 95% and replace the values
ser.iloc[np.where(ser < quantiles[0])] = quantiles[0]
ser.iloc[np.where(ser > quantiles[1])] = quantiles[1]

# or we can just do
ser1[ser1 < quantiles[0]] = quantiles[0]
ser1[ser1 > quantiles[1]] = quantiles[1]

ser1

# Solution from the webpage
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser2, .05, .95)
ser2
capped_ser

0       0.010000
1       0.013738
2       0.018874
3       0.025929
4       0.035622
         ...
25     28.072162
26     38.566204
27     52.983169
28     72.789538
29    100.000000
Length: 30, dtype: float64

0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
        ...
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
Length: 30, dtype: float64

0.05 %ile:  0.016049294076965887 | 0.95 %ile:  63.87667222018393

0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
        ...
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
Length: 30, dtype: float64

0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
        ...
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
Length: 30, dtype: float64

In [ ]:
# 24. How to reverse the rows of a dataframe?
# Reverse all the rows of dataframe df.
# input
df = pd.DataFrame(np.arange(25).reshape(5, -1))
# Solution 1
df
df.iloc[df.index.to_list()[::-1]]

# Solutions from the webpage
# Solution 2
df.iloc[::-1, :]

# Solution 3
print(df.loc[df.index[::-1], :])

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4