<a href="https://colab.research.google.com/github/SHAZAN01/Data_Analysis/blob/main/Pandas_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas -
Stands for - Panel Data

Core library for Data manipulation and analysis.

Consists of single, multi dimensional data structures for manipulation.

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.5.3'

Pandas Series

Pandas DataFrames

**Series**

A pandas Series is a one-dimensional labelled data structure which can hold data such as strings, integers and even other Python objects. It is built on top of numpy array and is the primary data structure to hold one-dimensional data in pandas.

In [ ]:
a  = list(range(5))
a,type(a)

([0, 1, 2, 3, 4], list)

In [ ]:
import numpy as np
a = np.arange(5)
type(a)

numpy.ndarray

In [ ]:
import pandas as pd
a = pd.Series([1,2,3,4,5])
a
# type(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
a = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
a = pd.Series({'a':10,'b':11,'c':12})
a

a    10
b    11
c    12
dtype: int64

In [ ]:
a = pd.Series({'a':10,'b':11,'c':12},index=['b','c','a'])
a

b    11
c    12
a    10
dtype: int64

In [ ]:
l = list('abcdefghijklmnopqrstuvwxyz')
i = np.arange(1,27)
alpha = pd.Series(l,index=i)
alpha

NameError: ignored

In [ ]:
a = []
for i in range(26):
  a.append(chr(97+i))
i = np.arange(1,27)
alpha = pd.Series(a,index=i)
alpha

In [ ]:
import string
a = pd.Series(list(string.ascii_lowercase),index=i)
a

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
data  = np.random.randint(1,10,5)
a = pd.Series(data,index = ['a','b','c','d','e'])
a

a    6
b    7
c    3
d    4
e    8
dtype: int64

In [ ]:
a.reindex(['c','e','a','d','b'])

c    3
e    8
a    6
d    4
b    7
dtype: int64

In [ ]:
a['d']

4

Arithmetic operations on Series

In [ ]:
# Arithmetic Serieswise
# a+a
# a-a
# a*a
# a/a

In [ ]:
# Arithmetic scalar
# a+2
# a-2
# a*2
# a/2
# a//2

In [ ]:
data1 = np.random.randint(1,10,5)
data2 = np.random.randint(1,10,5)
data1,data2

(array([9, 2, 5, 8, 1]), array([7, 9, 5, 5, 3]))

In [ ]:
data1 == data2
data1 >= data2
data1 <= data2
data1 != data2

array([ True,  True, False,  True,  True])

In [ ]:
data1 = pd.Series(data1)
data2 = pd.Series(data2)
# data1.append(data2)
a = pd.concat([data1,data2])

In [ ]:
a.reset_index()

In [ ]:
a = data1.append(data2).reset_index(drop=True)

<ipython-input-66-cfc8a5a911aa>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a = data1.append(data2).reset_index(drop=True)

slicing

In [ ]:
# a[1]
a[5:9]

5    7
6    9
7    5
8    5
dtype: int64

In [ ]:
a.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
# even records only
# a[::2]
# print(a)

# even indices
a[(a.index%2 == 0)]

# even values
a[a%2 == 0]

In [ ]:
# map
def double(b):
    return 2*b

In [ ]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# [double(i) for i in a]
tuple(map(double,a))

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

Naming

In [ ]:
data1 = np.random.randint(1,15,15)
data1 = pd.Series(data1,name = 'Scores')
data1
# data1.name

0      9
1     10
2      4
3      7
4      4
5     14
6     12
7      4
8     12
9      5
10    11
11     9
12     5
13     5
14     6
Name: Scores, dtype: int64

In [ ]:
data1.rename('HighScores')

0      9
1     10
2      4
3      7
4      4
5     14
6     12
7      4
8     12
9      5
10    11
11     9
12     5
13     5
14     6
Name: HighScores, dtype: int64

In [ ]:
a = a.drop([1,4,6,8])
a

0    9
2    5
3    8
5    7
7    5
9    3
dtype: int64