<a href="https://colab.research.google.com/github/SHAZAN01/Data_Analysis/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(exam_data,index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [ ]:
# Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

# Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

# Write a Pandas program to get the first 3 rows of a given DataFrame

# Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame

# Write a Pandas program to select the specified columns and rows from a given data frame.

# Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

# Write a Pandas program to count the number of rows and columns of a DataFrame

# Write a Pandas program to select the rows where the score is missing?

# Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

# Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

# Write a Pandas program to change the score in row 'd' to 11.5

# Write a Pandas program to calculate the sum of the examination attempts by the students.

# Write a Pandas program to calculate the mean score for each different student in DataFrame.

# Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame

# Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

# Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False

# Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.

# Write a Pandas program to delete the 'attempts' column from the DataFrame.

# Write a Pandas program to insert a new column in existing DataFrame.

# Write a Pandas program to iterate over rows in a DataFrame.

# Write a Pandas program to count the NaN values in one or more columns in DataFrame.

# Make all the column names to Upper case

# Add an underscore to all the column names

Write a Pandas program to add leading zeros to the integer column in a pandas series and makes the length of the field to 8 digit?

In [ ]:
import numpy as np
import pandas as pd
nums = {'amount': [10, 250, 3000, 40000, 500000]}
s = pd.Series(nums)
s

amount    [10, 250, 3000, 40000, 500000]
dtype: object

In [ ]:
# 10 -  00000010
# 250 - 00000250
# .....

In [ ]:
d = pd.DataFrame(nums)
# type(d)
d

   amount
0      10
1     250
2    3000
3   40000
4  500000

In [ ]:
def eight_len(a):
    zeros = 8-len(str(a))

    return (zeros*'0'+str(a))

eight_len(100)

'00000100'

In [ ]:
d['amount'] = d['amount'].apply(eight_len)
# type(d)
d

     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000

In [ ]:
list(map(lambda x: eight_len(x),d['amount']))
# d['amount']

['00000010', '00000250', '00003000', '00040000', '00500000']

In [ ]:
d['amount'] = d['amount'].apply(lambda x: eight_len(x))
d['amount']

0    00000010
1    00000250
2    00003000
3    00040000
4    00500000
Name: amount, dtype: object

In [ ]:
d['amount'].apply(lambda x: str(x))

0    None
1    None
2    None
3    None
4    None
Name: amount, dtype: object

In [ ]:
d1 = pd.Series(d['amount'].apply(lambda x: (x)))
d1
# d

0         20
1        500
2       6000
3      80000
4    1000000
Name: amount, dtype: int64

In [ ]:
a = '5000'
# f'{input_string: character symbol number_of_characters}'

# print(f' {a:0>8}') #> append left
# print(f' {a:0<8}') # < append right
print(f' {a:0^8}') # ^ make input centered

 00500000

In [ ]:
d1 = pd.Series(d['amount'].apply(lambda x: (x.zfill(8))))
d1

0    00000010
1    00000250
2    00003000
3    00040000
4    00500000
Name: amount, dtype: object

:Write a Pandas program to check whether alphabetic values present in a given column of a DataFrame?

In [ ]:
df = pd.DataFrame({
    'company_code': ['Company','Company a001','Company 123', 'abcd', 'Company 12'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]})

In [ ]:
df

   company_code date_of_sale   sale_amount
0       Company    12/05/2002      12348.5
1  Company a001    16/02/1999     233331.2
2   Company 123    25/09/1998         22.5
3          abcd    12/02/2022    2566552.0
4    Company 12    15/09/1997         23.0

Write a Pandas program to count of occurrence of a specified substring in a DataFrame column?

Extract Twitter Hashtags from the tweets

In [ ]:
{
    'tweets': ['#Obama says goodbye','Retweets for #cash','A political endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    }

In [ ]:
a = '#Obama says goodbye'
def twitter_hashtag(a):
    a = a.split()
    for i in a:
        if i[0]=='#':
            return i

twitter_hashtag(a)

'#Obama'

In [ ]:
# Twitter mentions extraction
a = '#Obama says goodbye'
def twitter_mention(a):
    a = a.split()
    for i in a:
        if i[0]=='@':
            return i

twitter_mention(a)

In [ ]:
# Phone number extraction
df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'company_phone_no': ['Company1-Phone no. 4695168357','Company2-Phone no. 8088729013','Company3-Phone no. 6204658086', 'Company4-Phone no. 5159530096', 'Company5-Phone no. 9037952371']
    })

In [ ]:
df

  company_code               company_phone_no
0        c0001  Company1-Phone no. 4695168357
1        c0002  Company2-Phone no. 8088729013
2        c0003  Company3-Phone no. 6204658086
3        c0003  Company4-Phone no. 5159530096
4        c0004  Company5-Phone no. 9037952371

In [ ]:
# Email extraction
df = pd.DataFrame({
    'name_email': ['Alberto Franco af@gmail.com','Gino Mcneill gm@yahoo.com','Ryan Parkes rp@abc.io', 'Eesha Hinton', 'Gino Mcneill gm@github.com']
    })